<!DOCTYPE html>
<html ng-app="MyApp">
    <head>
        <title>Hello AngularJS</title>
        <link href="../libs/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../libs/css/main.css" rel="stylesheet" />
        <script src="../libs/js/angular.js"></script>
        <script src="../libs/js/angular-route.min.js"></script>
    </head>
    <body>
        <div class="container" style="margin-top: 5rem;" ng-controller="MainController as main">
            <div class="row">
                <div class="col-md-4" ng-controller="ProjectListController as projectCtrl">
                    <ul class="project-list">
                        <li ng-repeat="project in projectCtrl.projects track by $index"  >
                            <a href="#/project/{{project.id}}"><span class="glyphicon glyphicon-folder-close small "></span><span ng-bind="project.name"></span></a>
                        </li>
                    </ul>
                    <form class="form-inline" name="project_form" novalidate ng-submit="projectCtrl.addProject(projectCtrl.new_project_name, project_form.$invalid)">
                        <div class="form-group">
                            <input  class="form-control" type="text" ng-model="projectCtrl.new_project_name" name="project_name" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">New Project</button>
                    </form>
                </div>
                <div class="col-md-8" style="border-left: 1px solid #ccc">
                    <div ng-view></div>
                </div>
            </div>

        </div>
        <script src="app/controllers/ProjectListController.js"></script>
        <script src="app/controllers/ProjectDetailController.js"></script>
        <script src="app/controllers/TodoListController.js"></script>
        <script src="app/controllers/TodoDetailController.js"></script>
        <script src="app/services/todo.js"></script>
        <script src="app/services/projects.js"></script>
        <script src="app/services/comments.js"></script>
        <script src="app/directives/focusMe.js"></script>
        <script src="app/app.js"></script>
        <script type="text/javascript">

        </script>
    </body>
</html>
